.web {
  display: flex;
  flex: 1;
  align-items: center;
}

.web-option {
  font-size: 22px;
  margin-right: 16px;
  font-weight: 400;
}

.web-option a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.option-icon {
  display: none;
  align-items: center;
  margin-right: 4px;
}

.web-option:last-child {
  margin-right: 0px;
}

.web-option a:hover {
  color: #394955;
  border-bottom: 3px solid #40bcff;
}
