.header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  align-items: center;
  position: relative;
  top: 0px;
}

.header-down {
  position: fixed;
  width: 68%;
  transition: top 0.3s;
  background: #e0e0e0;
  color: #fff;
  top: 0px;
  transition: background 0.5s;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.menu-icon {
  font-size: 24px;
}

.mobile-menu {
  display: none;
}

.web-menu {
  display: flex;
}

.logo {
  display: flex;
  font-size: 36px;
  font-weight: 600;
  height: 64px;
}

@media only screen and (max-width: 1024px) {
  .header-down {
    width: 88%;
  }
}

@media only screen and (max-width: 720px) {
  .mobile-menu {
    display: flex;
    justify-content: flex-end;
  }

  .web-menu {
    display: none;
  }

  .logo {
    font-size: 24px;
  }
}
